<IfModule mod_rewrite.c>
 Options -Multiviews
 RewriteEngine On
 RewriteBase /periode-4/dictaat-12/public/
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>